<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Remmoskv</title>
    <!-- Icon-->
    <link rel="icon" type="image/x-icon" href="assets/icon.png" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet"/>
    <link href="css/about.css" rel="stylesheet">

    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark position-sticky sticky-top">
        <div class="container px-5">
            <div>
                <a class="" href="mailto:remmoskv@yandex.ru">remmoskv@yandex.ru</a>
                <img src="assets/icon.png" alt="ico" width="50">
            </div>
            <a class="navbar-brand" href="main.html">Remmoskv</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" aria-current="page" href="main.html">Главная</a></li>
                    <li class="nav-item"><a class="nav-link" href="portfolio.html">Ремонт</a></li>
                    <li class="nav-item"><a class="nav-link active disabled" href="about.html">О нас</a></li>
                    <li class="nav-item"><a class="nav-link" href="faq.html">FAQ</a></li>
                    <li class="nav-item"><a class="nav-link" href="tel:+79154496350">+7 (915) 449-63-50</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    <!-- Header-->
    <header class="bg-info bg-image py-5">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center my-5">
                        <h1 class="display-5 fw-bolder text-white mb-2">О нас</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Features section-->
    <section class="py-5 border-bottom">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <h1 class="mt-4">Контактные данные</h1>
                <p class="col-sm-6">
                    Электронная почта: remmoskv@yandex.ru<br>
                    Телефоны: +7(915)449-63-50<br><br>
                    <strong>Реквизиты:</strong><br>
                    ИНН 644919094406<br>
                    ОГРНИП 321508100492379<br>

                    р/сч 40702810838000183099, банк ПАО «СБЕРБАНК»<br>
                    Кор.счет 30101810400000000225<br>
                    БИК 044525225<br>
                </p>
                <img class="col-sm-6"
                src="assets/icon.png" style="width: 400px;">
            </div>
        </div>
    </section>
    
    <!-- Features section-->
    <section class="py-5 border-bottom">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <h1 class="mt-4">Цены на работы</h1>
                <h4 class="mt-4">Здесь приведены некоторые цены на работы.<br>Заинтересовались? Наш сметчик предложит цены ещё лучше!</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <td>
                                Работы
                            </td>
                            <td>
                                Стоимость
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Демонтаж электрики				
                            </td>
                            <td>
                                от <strong>650руб/м2</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Демонтаж сантехнических коммуникаций				
                            </td>
                            <td>
                                от <strong>660руб/м2</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Демонтаж перегородок				
                            </td>
                            <td>
                                от <strong>850руб/м2</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Демонтаж существующих покрытий				
                            </td>
                            <td>
                                от <strong>666руб/м2</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Возведение перегородок				
                            </td>
                            <td>
                                от <strong>950руб/м2</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Шпатлевка и штукатурка стен				
                            </td>
                            <td>
                                от <strong>470руб/м2</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Грунтовка стен и пола				
                            </td>
                            <td>
                                от <strong>1000руб/м2</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Устройство наливных полов				
                            </td>
                            <td>
                                от <strong>850руб/м2</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Штробление стен под электрокабель				
                            </td>
                            <td>
                                от <strong>600руб/м2</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Прокладка электрокабеля				
                            </td>
                            <td>
                                от <strong>620руб/м2</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Разводка труб водоснабжения				
                            </td>
                            <td>
                                от <strong>700руб/м2</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Монтаж труб канализации				
                            </td>
                            <td>
                                от <strong>750руб/м2</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Настил линолеума, ковралина				
                            </td>
                            <td>
                                от <strong>350руб/м2</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Укладка ламината, паркетной доски или плитки				
                            </td>
                            <td>
                                от <strong>950руб/м2</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Монтаж плинтусов				
                            </td>
                            <td>
                                от <strong>730руб/м2</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Оклейка стен обоями				
                            </td>
                            <td>
                                от <strong>440руб/м2</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Покраска потолка				
                            </td>
                            <td>
                                от <strong>550руб/м2</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Покраска пола				
                            </td>
                            <td>
                                от <strong>900руб/м2</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Устройство откосов из ПВХ-панелей, сендвич-панелей				
                            </td>
                            <td>
                                от <strong>650руб/м2</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Монтаж натяжного потолка				
                            </td>
                            <td>
                                от <strong>560руб/м2</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Замена карнизов				
                            </td>
                            <td>
                                от <strong>770руб/м2</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Установка подоконников, отливов				
                            </td>
                            <td>
                                от <strong>500руб/м2</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Установка межкомнатных дверей
                            </td>
                            <td>
                                от <strong>654руб/м2</strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <!-- Features section-->
    <section class="py-5 border-bottom" id="features">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <h1 class="mt-4">О компании</h1>
                <p class="col-sm-6">Наша компания основана в 2015 году. Предлагаем услуги по ремонту и отделке.
                    Ремонтируем простые и сложные
                    объекты: квартиры, частные дома, коммерческие помещения. Можем сделать доступный косметический
                    ремонт,
                    капитальный ремонт со сложными техническими работами, а также евроремонт по уникальному
                    дизайн-проекту.

                    Экономим ваше время: устанавливаем сроки ремонта и строго их соблюдаем;
                    Экономим ваше деньги: закупаем материалы по выгодным ценам;
                    Экономим ваши нервы: оформляем договор и предоставляем гарантию на работы.

                    Мы будем искренне рады, если в нашем лице Вы найдёте достойного и надёжного партнёра. Мы
                    обеспечиваем
                    клиента высоким качеством предоставляемого сервиса, а это, в свою очередь, не может остаться
                    незамеченным.
                </p>
                <div class="col-sm-6">
                    <img style="width: 70%;"
                        src="https://remmoskv.ru/wp-content/uploads/2021/11/blobid1567963976910.jpg">
                    <p class="text-left">
                        <strong>Отдел контроля за качеством проводимых работ</strong><br>
                        Егоров Александр Викторович
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Pricing section-->
    <section class="bg-light py-5 border-bottom" id="services">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="mt-4">Специалисты экстра-класса</h1>
            </div>
            <div class="row justify-content-center">
                <!-- Pricing card-->
                <div class="col-lg-6 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-body p-5">
                            <img class="fit-image"
                                src="https://remmoskv.ru/wp-content/uploads/2021/11/%D0%AE%D1%80%D0%B8%D1%81%D1%82-%D0%B4%D0%BE%D0%B3%D0%BE%D0%B2%D0%BE%D1%80%D0%BD%D0%BE%D0%B3%D0%BE-%D0%BE%D1%82%D0%B4%D0%B5%D0%BB%D0%B0-%D0%9F%D0%BE%D0%B4%D0%B3%D0%BE%D1%82%D0%BE%D0%B2%D0%BA%D0%B0-%D1%81%D0%BE%D0%B3%D0%BB%D0%B0%D1%81%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5-%D0%B4%D0%BE%D0%B3%D0%BE%D0%B2%D0%BE%D1%80%D0%BE%D0%B2-%D0%B4%D0%BB%D1%8F-%D0%BA%D0%B0%D0%B6%D0%B4%D0%BE%D0%B3%D0%BE-%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D0%B0-%D0%B8%D0%BD%D0%B4%D0%B8%D0%B2%D0%B8%D0%B4%D1%83%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE.-1-768x576.png">
                            <p class="text-center"><strong>Терехов Андрей Игоревич</strong></p>
                            <p>Юрист договорного отдела
                                Подготовка, согласование договоров для каждого проекта индивидуально.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Pricing card-->
                <div class="col-lg-6 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-body p-5">
                            <img class="fit-image"
                                src="https://remmoskv.ru/wp-content/uploads/2021/11/%D0%AE%D1%80%D0%B8%D1%81%D1%82-%D0%B4%D0%BE%D0%B3%D0%BE%D0%B2%D0%BE%D1%80%D0%BD%D0%BE%D0%B3%D0%BE-%D0%BE%D1%82%D0%B4%D0%B5%D0%BB%D0%B0-%D0%9F%D0%BE%D0%B4%D0%B3%D0%BE%D1%82%D0%BE%D0%B2%D0%BA%D0%B0-%D1%81%D0%BE%D0%B3%D0%BB%D0%B0%D1%81%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5-%D0%B4%D0%BE%D0%B3%D0%BE%D0%B2%D0%BE%D1%80%D0%BE%D0%B2-%D0%B4%D0%BB%D1%8F-%D0%BA%D0%B0%D0%B6%D0%B4%D0%BE%D0%B3%D0%BE-%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D0%B0-%D0%B8%D0%BD%D0%B4%D0%B8%D0%B2%D0%B8%D0%B4%D1%83%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE.-2-768x576.png">
                            <p class="text-center"><strong>Маргарита Ивановна Савушкина</strong></p>
                            <p>
                                Начальник дизайнерского отдела. Дизайн, дизайн-проект, визуализация Ваших пожеланий.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Pricing card-->
                <div class="col-lg-6 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-body p-5">
                            <img class="fit-image"
                                src="https://remmoskv.ru/wp-content/uploads/2021/11/%D0%AE%D1%80%D0%B8%D1%81%D1%82-%D0%B4%D0%BE%D0%B3%D0%BE%D0%B2%D0%BE%D1%80%D0%BD%D0%BE%D0%B3%D0%BE-%D0%BE%D1%82%D0%B4%D0%B5%D0%BB%D0%B0-%D0%9F%D0%BE%D0%B4%D0%B3%D0%BE%D1%82%D0%BE%D0%B2%D0%BA%D0%B0-%D1%81%D0%BE%D0%B3%D0%BB%D0%B0%D1%81%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5-%D0%B4%D0%BE%D0%B3%D0%BE%D0%B2%D0%BE%D1%80%D0%BE%D0%B2-%D0%B4%D0%BB%D1%8F-%D0%BA%D0%B0%D0%B6%D0%B4%D0%BE%D0%B3%D0%BE-%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D0%B0-%D0%B8%D0%BD%D0%B4%D0%B8%D0%B2%D0%B8%D0%B4%D1%83%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE.-4-768x576.png">
                            <p class="text-center"><strong>Егор Александрович Лебедев</strong></p>
                            <p>
                                Руководитель сметного отдела Инженер сметчик. Точные расчеты сметы, работ и материалов.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Pricing card-->
                <div class="col-lg-6 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-body p-5">
                            <img class="fit-image"
                                src="https://remmoskv.ru/wp-content/uploads/2021/11/%D0%AE%D1%80%D0%B8%D1%81%D1%82-%D0%B4%D0%BE%D0%B3%D0%BE%D0%B2%D0%BE%D1%80%D0%BD%D0%BE%D0%B3%D0%BE-%D0%BE%D1%82%D0%B4%D0%B5%D0%BB%D0%B0-%D0%9F%D0%BE%D0%B4%D0%B3%D0%BE%D1%82%D0%BE%D0%B2%D0%BA%D0%B0-%D1%81%D0%BE%D0%B3%D0%BB%D0%B0%D1%81%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5-%D0%B4%D0%BE%D0%B3%D0%BE%D0%B2%D0%BE%D1%80%D0%BE%D0%B2-%D0%B4%D0%BB%D1%8F-%D0%BA%D0%B0%D0%B6%D0%B4%D0%BE%D0%B3%D0%BE-%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D0%B0-%D0%B8%D0%BD%D0%B4%D0%B8%D0%B2%D0%B8%D0%B4%D1%83%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE.-3-768x576.png">
                            <p class="text-center"><strong>Гладких Иван Анатольевич</strong></p>
                            <p>Начальник отдела снабжения
                                Подбор качественных строительных материалов, профессионального оборудования для ремонта.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Features section-->
    <section class="py-5 border-bottom">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <h1 class="mt-4">Наши партнёры</h1>
                <p class="col-sm-6">
                    Мы являемся партнерами крупнейших производителей строительных материалов. Соответственно Мы
                    используем только проверенные и оригинальные строительные материалы. Именно по этому даем гарантию 3
                    года и сопровождаем клиента весь срок действия договора.

                    Более того все условия прописаны в официальном договоре! Мы не можем давать гарантию на все виды
                    работ, если будем использовать некачественные материалы. Это просто не в наших интересах!

                    Благодаря собственному складу материалов, вы не окажетесь в ситуации когда простаивает работа и не
                    соблюдаются сроки договора.

                    Еще не мало важный момент: Вы не переплачиваете за материал в среднем от 5 до 15 % на наценке
                    посредников!
                </p>
                <img class="col-sm-6"
                    src="https://remmoskv.ru/wp-content/uploads/2021/11/7p8ek1es38w88kgw0owgwo4o4k8osw-1024x863.jpg">
            </div>
        </div>
    </section>

    <!-- Features section-->
    <section class="py-5 border-bottom">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <h1 class="mt-4">Автопарк</h1>
                <p class="col-sm-6">
                    <strong>Имеем свой Автопарк и весь комплект профессионального инструмента.<br><br> Газель габариты
                        (технические характеристики):<br></strong>

                    <strong>Грузоподъемность</strong> — 1500кг<br>
                    <strong>Кузов</strong> — тент<br>
                    <strong>Длина</strong> — 3м,<br> <strong>Ширина</strong> — 1.9м,<br> <strong>Высота</strong> —
                    1.5м,<br> <strong>Объем</strong> — 12-18 м3<br><br>

                    <strong>Газель с длинной базой<br>

                        Грузоподъемность</strong> — 1500кг<br>
                    <strong>Кузов</strong> — тент / борт<br>
                    <strong>Длина</strong> — 4м,<br> <strong>Ширина</strong> — 1.9м,<br> <strong>Высота</strong> —
                    2м<br>
                    <strong>Объем</strong> — 12-18 м3<br>
                </p>
                <img class="col-sm-6" src="https://remmoskv.ru/wp-content/uploads/2021/11/home-gaz1.jpg">
            </div>
        </div>
    </section>

    <!-- Contact section-->
    <section class="bg-light py-5" id="contact-us">
        <div class="container px-5 my-5 px-5">
            <div class="text-center mb-5">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i>
                </div>
                <h2 class="fw-bolder">Заинтересовало?</h2>
                <p class="lead mb-0">Напишите нам индивидуальный заказ и мы вам ответим</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <form id="contactForm" action="/order" method="post">
                        <!-- Name input-->
                        <div class="form-floating mb-3">
                            <input th:field="${emailForm.name}" class="form-control" id="name" type="text" placeholder="Полное Имя" required />
                            <label for="name">Полное Имя</label>
                        </div>
                        <!-- Email address input-->
                        <div class="form-floating mb-3">
                            <input th:field="${emailForm.email}" class="form-control" id="email" type="email" placeholder="Електронная почта"
                                   pattern="[^@ \t\r\n]+@[^@ \t\r\n]+\.[^@ \t\r\n]+" required />
                            <label for="email">Ваша Електронная Почта</label>
                        </div>
                        <!-- Phone number input-->
                        <div class="form-floating mb-3">
                            <input th:field="${emailForm.phoneNumber}" class="form-control" id="phone" type="tel" placeholder="номер телефона"
                                   pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$" required />
                            <label for="phone">Ваш номер телефона</label>
                        </div>
                        <!-- Message input-->
                        <div class="form-floating mb-3">
                            <textarea th:field="${emailForm.order}" class="form-control" id="message" type="text" placeholder="Ваш заказ"
                                      style="height: 10rem" required></textarea>
                            <label for="message">Заказ</label>
                        </div>
                        <!-- Captcha -->
                        <div class="form-floating mb-3">
                            <div th:if="${captchaErrMessage != null}" th:text="${captchaErrMessage}" class="alert-danger">
                                Captcha Error
                            </div>
                            <div class="g-recaptcha"
                                 data-sitekey="6Lfu1PEdAAAAALNmePkwByZMyk4HKjrRlzmtgooD">
                            </div>
                        </div>
                        <!-- Submit Button-->
                        <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton"
                                                    type="submit">Отправить</button></div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container px-5">
            <p class="m-0 text-center text-white">РЕМОНТНО-СТРОИТЕЛЬНАЯ КОМПАНИЯ "REMMOSKV@" © 2015-2021 Г. ВСЕ ПРАВА
                ЗАЩИЩЕНЫ. КОПИРОВАНИЕ И ИСПОЛЬЗОВАНИЕ ИНФОРМАЦИИ С САЙТА БЕЗ СОГЛАСИЯ ВЛАДЕЛЬЦА ЗАПРЕЩЕНЫ И ПРЕСЛЕДУЕТСЯ
                ПО ЗАКОНУ.</p>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

</html>