<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Remmoskv</title>
    <!-- Icon-->
    <link rel="icon" type="image/x-icon" href="assets/icon.png" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
    <link href="css/faq.css" rel="stylesheet">

    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark position-sticky sticky-top">
        <div class="spacebetween">
            &ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;
        </div>
        <div class="uppercontacts">
            <img src="assets/icon.png" alt="ico" width="55">&ThickSpace;
            <a class="navbar-brand" href="index.html">Remmoskv</a>
            <a class="" style="font-size: 95%;" href="mailto:remmoskv@yandex.ru">remmoskv@yandex.ru</a>&MediumSpace;
            <a class="text-decoration-none link-light" style="font-size: 95%;" href="tel:+79154496350">+7 (915) 449-63-50</a>
        </div>
        <div class="container px-5">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" aria-current="page" href="index.html">Главная</a></li>
                    <li class="nav-item"><a class="nav-link" href="portfolio.html">Ремонт</a></li>
                    <li class="nav-item"><a class="nav-link" href="about.html">О нас</a></li>
                    <li class="nav-item"><a class="nav-link active disabled" href="faq.html">FAQ</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header-->
    <header class="bg-success bg-image py-5">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center my-5">
                        <h1 class="display-5 fw-bolder text-white mb-2">Ответы на вопросы</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Features section-->
    <section class="py-5 border-bottom" >
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <h1 class="mt-4">Можно ли заказать дизайн-проект?</h1>
                <p>
                    Да можно. Стоимость дизайн-проекта с рабочей документацией начинается с 1200 руб/м2.
                </p>
            </div>
        </div>
    </section>
    <!-- Features section-->
    <section class="py-5 border-bottom">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <h1 class="mt-4">Кому нужно закупать материалы?</h1>
                <p>
                    Мы можем взять закупку материалов на себя или работать с материалами заказчика. У нас прямые
                    контракты с поставщиками, поэтому при заказе материалов у нас их стоимость будет дешевле розничной
                    цены!
                </p>
            </div>
        </div>
    </section>
    <!-- Features section-->
    <section class="py-5 border-bottom" >
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <h1 class="mt-4">У меня в квартире будут жить рабочие?</h1>
                <p>
                    В ремонтируемой квартире никто жить не будет. Наши мастера по ремонту — профессионалы, которые
                    занимаются отделкой квартир много лет и приезжают на объект, как в офис: непосредственно к началу
                    рабочего дня, в спецодежде и с необходимым инструментом. После окончания смены они убирают мусор,
                    выключают свет, закрывают окна и двери, проверяют краны.

                    Убедиться в профессионализме специалистов и строгом соблюдении ими правил проведения работ вы
                    можете, посетив наши объекты.
                </p>
            </div>
        </div>
    </section>
    <!-- Features section-->
    <section class="py-5 border-bottom" >
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <h1 class="mt-4">Вывозиться ли мусор после ремонта?</h1>
                <p>
                    Да мы так работаем всегда. По завершению ремонта мы сделаем сухую и влажную уборку, вывезем мусор, а
                    оставшиеся материалы вычтем из стоимости и заберем с собой
                </p>
            </div>
        </div>
    </section>
    <!-- Features section-->
    <section class="py-5 border-bottom" >
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <h1 class="mt-4">Как можно следить за ходом ремонта?</h1>
                <p>
                    Контролировать ход работ можно как в живую, так и удаленно. Мы регулярно отправляем фото и видео
                    отчеты! По желанию заказчика!
                </p>
            </div>
        </div>
    </section>
    <!-- Features section-->
    <section class="py-5 border-bottom" >
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <h1 class="mt-4">Какой порядок оплаты?</h1>
                <p>
                    Выбирайте любой удобный для Вас способ оплаты! Мы официальная компания!
                </p>
            </div>
        </div>
    </section>
    <!-- Features section-->
    <section class="py-5 border-bottom" >
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <h1 class="mt-4">Стоимость в смете окончательная?</h1>
                <p>
                    Смета действительна 60 дней и в процессе ремонта не меняется. Изменения возможны в случае вашего
                    желания произвести дополнительные работы или использовать другие материалы!
                </p>
            </div>
        </div>
    </section>
    <!-- Features section-->
    <section class="py-5 border-bottom" >
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <h1 class="mt-4">Какие у вас гарантии?</h1>
                <p>
                    Гарантию мы даем в том случае, если используемый материал закупаем сами! Что касается самой работы,
                    гарантия может быть до 5 лет
                </p>
            </div>
        </div>
    </section>

    <!-- Contact section-->
    <section class="bg-light py-5" id="contact-us">
        <div class="container px-5 my-5 px-5">
            <div class="text-center mb-5">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i>
                </div>
                <h2 class="fw-bolder">Заинтересовало?</h2>
                <p class="lead mb-0">Напишите нам индивидуальный заказ и мы вам ответим</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <form id="contactForm" action="/order" method="post">
                        <!-- Name input-->
                        <div class="form-floating mb-3">
                            <input th:field="${emailForm.name}" class="form-control" id="name" type="text" placeholder="Полное Имя" required />
                            <label for="name">Полное Имя</label>
                        </div>
                        <!-- Email address input-->
                        <div class="form-floating mb-3">
                            <input th:field="${emailForm.email}" class="form-control" id="email" type="email" placeholder="Електронная почта"
                                   pattern="[^@ \t\r\n]+@[^@ \t\r\n]+\.[^@ \t\r\n]+" required />
                            <label for="email">Email</label>
                        </div>
                        <!-- Phone number input-->
                        <div class="form-floating mb-3">
                            <input th:field="${emailForm.phoneNumber}" class="form-control" id="phone" type="tel" placeholder="номер телефона"
                                   pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$" required />
                            <label for="phone">Ваш номер телефона</label>
                        </div>
                        <!-- Message input-->
                        <div class="form-floating mb-3">
                            <textarea th:field="${emailForm.order}" class="form-control" id="message" type="text" placeholder="Ваш заказ"
                                      style="height: 10rem" required></textarea>
                            <label for="message">Заказ</label>
                        </div>
                        <!-- Captcha -->
                        <div class="form-floating mb-3">
                            <div th:if="${captchaErrMessage != null}" th:text="${captchaErrMessage}" class="alert-danger">
                                Captcha Error
                            </div>
                            <div class="g-recaptcha"
                                 data-sitekey="6Lfu1PEdAAAAALNmePkwByZMyk4HKjrRlzmtgooD">
                            </div>
                        </div>
                        <!-- Submit Button-->
                        <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton"
                                                    type="submit">Отправить</button></div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container px-5">
            <p class="m-0 text-center text-white">РЕМОНТНО-СТРОИТЕЛЬНАЯ КОМПАНИЯ "REMMOSKV@" © 2015-2021 Г. ВСЕ ПРАВА
                ЗАЩИЩЕНЫ. КОПИРОВАНИЕ И ИСПОЛЬЗОВАНИЕ ИНФОРМАЦИИ С САЙТА БЕЗ СОГЛАСИЯ ВЛАДЕЛЬЦА ЗАПРЕЩЕНЫ И ПРЕСЛЕДУЕТСЯ
                ПО ЗАКОНУ.</p>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

</html>