<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Remmoskv</title>
        <!-- Icon-->
        <link rel="icon" type="image/x-icon" href="assets/icon.png" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <link href="css/portfolio.css" rel="stylesheet">

        <script src='https://www.google.com/recaptcha/api.js'></script>
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark position-sticky sticky-top">
            <div class="container px-5">
                <div>
                    <a class="" href="mailto:remmoskv@yandex.ru">remmoskv@yandex.ru</a>
                    <img src="assets/icon.png" alt="ico" width="50">
                </div>
                <a class="navbar-brand" href="main.html">Remmoskv</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="main.html">Главная</a></li>
                        <li class="nav-item"><a class="nav-link active disabled" href="">Ремонт</a></li>
                        <li class="nav-item"><a class="nav-link" href="about.html">О нас</a></li>
                        <li class="nav-item"><a class="nav-link" href="faq.html">FAQ</a></li>
                        <li class="nav-item"><a class="nav-link" href="tel:+79154496350">+7 (915) 449-63-50</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark bg-image py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <h1 class="display-5 fw-bolder text-white mb-2">РЕАЛИЗОВАННЫЕ ПРОЕКТЫ</h1>
                            <div class="row">
                                <div class="col-6">
                                    <p class="display-4 fw-bolder text-white">6</p>
                                    <p class="display-7 fw-folder text-white">Лет работы в сфере ремонта</p>
                                </div>
                                <div class="col-6">
                                    <p class="display-4 fw-bolder text-white">863</p>
                                    <p class="display-7 fw-folder text-white">Отремонтированных объектов</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- done section-->
        <section class="bg-light py-5 border-bottom">
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h2 class="fw-bolder">Что уже было сделано</h2>
                    <p class="lead mb-0">Примеры готовых результатов</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <!-- Pricing card-->
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <img src="https://remmoskv.ru/wp-content/uploads/2021/11/IMG-20211107-WA0077-768x576.jpg" alt="photo" class="fit-image"> 
                            </div>
                        </div>
                    </div>
                    
                    <!-- Pricing card-->
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <img src="https://remmoskv.ru/wp-content/uploads/2021/11/IMG-20211107-WA0075-768x576.jpg" alt="photo" class="fit-image"> 
                            </div>
                        </div>
                    </div>
                    <!-- Pricing card-->
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <img src="https://remmoskv.ru/wp-content/uploads/2021/11/IMG-20211107-WA0124.jpg" alt="photo" class="fit-image"> 
                            </div>
                        </div>
                    </div>
                    <!-- Pricing card-->
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <img src="https://remmoskv.ru/wp-content/uploads/2021/11/IMG-20211107-WA0080-768x576.jpg" alt="photo" class="fit-image"> 
                            </div>
                        </div>
                    </div>
                    <!-- Pricing card-->
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <img src="https://remmoskv.ru/wp-content/uploads/2021/11/IMG-20211107-WA0116.jpg" alt="photo" class="fit-image"> 
                            </div>
                        </div>
                    </div>
                    <!-- Pricing card-->
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <img src="https://remmoskv.ru/wp-content/uploads/2021/11/IMG-20211107-WA0111.jpg" alt="photo" class="fit-image"> 
                            </div>
                        </div>
                    </div>
                    <!-- Pricing card-->
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <img src="https://remmoskv.ru/wp-content/uploads/2021/11/IMG-20211107-WA0112.jpg" alt="photo" class="fit-image"> 
                            </div>
                        </div>
                    </div>
                    <!-- Pricing card-->
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <img src="https://remmoskv.ru/wp-content/uploads/2021/11/IMG-20211107-WA0103.jpg" alt="photo" class="fit-image"> 
                            </div>
                        </div>
                    </div>
                    <!-- Pricing card-->
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <img src="https://remmoskv.ru/wp-content/uploads/2021/11/IMG-20211107-WA0110.jpg" alt="photo" class="fit-image"> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Doing section-->
        <section class="bg-light py-5 border-bottom">
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h2 class="fw-bolder">Что ещё предстоит сделать</h2>
                    <p class="lead mb-0">Примеры проектов в процессе</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <!-- Pricing card-->
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <img src="https://remmoskv.ru/wp-content/uploads/2021/11/IMG-20211107-WA0029.jpg" alt="photo" class="fit-image"> 
                            </div>
                        </div>
                    </div>
                    
                    <!-- Pricing card-->
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <img src="https://remmoskv.ru/wp-content/uploads/2021/11/IMG-20211107-WA0069-768x576.jpg" alt="photo" class="fit-image"> 
                            </div>
                        </div>
                    </div>
                    <!-- Pricing card-->
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <img src="https://remmoskv.ru/wp-content/uploads/2021/11/IMG-20211107-WA0115.jpg" alt="photo" class="fit-image"> 
                            </div>
                        </div>
                    </div>
                    <!-- Pricing card-->
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <img src="https://remmoskv.ru/wp-content/uploads/2021/11/IMG-20211107-WA0084-768x576.jpg" alt="photo" class="fit-image"> 
                            </div>
                        </div>
                    </div>
                    <!-- Pricing card-->
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <img src="https://remmoskv.ru/wp-content/uploads/2021/11/IMG-20211107-WA0105-768x1024.jpg" alt="photo" class="fit-image"> 
                            </div>
                        </div>
                    </div>
                    <!-- Pricing card-->
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <img src="https://remmoskv.ru/wp-content/uploads/2021/11/IMG-20211107-WA0021-768x431.jpg" alt="photo" class="fit-image"> 
                            </div>
                        </div>
                    </div>
                    <!-- Pricing card-->
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <img src="https://remmoskv.ru/wp-content/uploads/2021/11/IMG-20211107-WA0026.jpg" alt="photo" class="fit-image"> 
                            </div>
                        </div>
                    </div>
                    <!-- Pricing card-->
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <img src="https://remmoskv.ru/wp-content/uploads/2021/11/IMG-20211107-WA0048-768x1024.jpg" alt="photo" class="fit-image"> 
                            </div>
                        </div>
                    </div>
                    <!-- Pricing card-->
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <img src="https://remmoskv.ru/wp-content/uploads/2021/11/IMG-20211107-WA0016.jpg" alt="photo" class="fit-image"> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Contact section-->
        <section class="bg-light py-5" id="contact-us">
            <div class="container px-5 my-5 px-5">
                <div class="text-center mb-5">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i>
                    </div>
                    <h2 class="fw-bolder">Заинтересовало?</h2>
                    <p class="lead mb-0">Напишите нам индивидуальный заказ и мы вам ответим</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <form id="contactForm" action="/order" method="post">
                            <!-- Name input-->
                            <div class="form-floating mb-3">
                                <input th:field="${emailForm.name}" class="form-control" id="name" type="text" placeholder="Полное Имя" required />
                                <label for="name">Полное Имя</label>
                            </div>
                            <!-- Email address input-->
                            <div class="form-floating mb-3">
                                <input th:field="${emailForm.email}" class="form-control" id="email" type="email" placeholder="Електронная почта"
                                       pattern="[^@ \t\r\n]+@[^@ \t\r\n]+\.[^@ \t\r\n]+" required />
                                <label for="email">Ваша Електронная Почта</label>
                            </div>
                            <!-- Phone number input-->
                            <div class="form-floating mb-3">
                                <input th:field="${emailForm.phoneNumber}" class="form-control" id="phone" type="tel" placeholder="номер телефона"
                                       pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$" required />
                                <label for="phone">Ваш номер телефона</label>
                            </div>
                            <!-- Message input-->
                            <div class="form-floating mb-3">
                            <textarea th:field="${emailForm.order}" class="form-control" id="message" type="text" placeholder="Ваш заказ"
                                      style="height: 10rem" required></textarea>
                                <label for="message">Заказ</label>
                            </div>
                            <!-- Captcha -->
                            <div class="form-floating mb-3">
                                <div th:if="${captchaErrMessage != null}" th:text="${captchaErrMessage}" class="alert-danger">
                                    Captcha Error
                                </div>
                                <div class="g-recaptcha"
                                     data-sitekey="6Lfu1PEdAAAAALNmePkwByZMyk4HKjrRlzmtgooD">
                                </div>
                            </div>
                            <!-- Submit Button-->
                            <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton"
                                                        type="submit">Отправить</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-5"><p class="m-0 text-center text-white">РЕМОНТНО-СТРОИТЕЛЬНАЯ КОМПАНИЯ "REMMOSKV@" © 2015-2021 Г. ВСЕ ПРАВА ЗАЩИЩЕНЫ. КОПИРОВАНИЕ И ИСПОЛЬЗОВАНИЕ ИНФОРМАЦИИ С САЙТА БЕЗ СОГЛАСИЯ ВЛАДЕЛЬЦА ЗАПРЕЩЕНЫ И ПРЕСЛЕДУЕТСЯ ПО ЗАКОНУ.</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
